.body{
    background-image: url("./Images/download.jpg") ;
}
.content
{
    border: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
    background-color: blueviolet;
}

#website
{
    margin-left: 3%;
    text-align: center;
    color:azure;
}
#welcome{
    width: 200px;
    height:200px;
}

input{
    background-color: green;
    color: white;
}

#welcome
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}

.log
{
    text-align: left;
    margin-left: 10%;
}

#register {
    visibility:visible;
}
#login {
    
    visibility:hidden;
}

button
{
    background-color: brown;
    color: cyan;
    width: 100px;
    height:50px;
}